<form
  class="auth-form"
  [formGroup]="checkoutForm"
  (ngSubmit)="onSubmit(checkoutForm.value)"
>
  <p class="auth-title">Login</p>
  <p class="grey">
    <small>{{ redirectMessage }}</small>
  </p>
  <div class="auth-field">
    <label for="login">
      Login
    </label>
    <input id="login" type="text" formControlName="login" />
  </div>
  <div class="auth-field">
    <label for="password">
      Password
    </label>
    <input id="password" type="password" formControlName="password" />
  </div>
  <button class="button bg-primary" type="submit">Submit</button>
</form>
