/* You can add global styles to this file, and also import other style files */
.ngb-toasts {
  top: 56px !important;
}
.fa {
  &:hover {
    &::before {
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: blueviolet;
    }
  }
}
body {
  font-family: OpenSans !important;
}